/* body{
    background-color: aqua;
} */

/* p{
    color: violet;
    font-size: 80px;
} */

body {
    padding-bottom: 500px;
}

.paragrah{
    background-color: #000;
    color: aqua;
    padding: 5px;
}

#exclusive-title{
    background-color: purple;
    color: beige;
    padding: 10px;
    font-size: 40px;
}

h2{
    border-bottom: 2px dotted red;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px solid green;
}

.color-name{
    color: crimson;
}

.hex{
    background-color: green;
    color: white;
}

.hex-2{
    background-color: #55a398;
    color: white;
}

.simple-hex{
    /*  color: #333333; */
    color: #333;
}
.simple-hex-2{
    /*  color: #aa55ff;  */
    color: #a5f; 
}

.rgb{
    color: rgb(255,0,0);

}
.mixeb-rgb{
    color: rgb(199,21,47);
    
}